<div class="container table-responsive py-5">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <th>Team</th>
      </tr>
    </thead>
    <tbody>
      <% members.each do |member| %>
        <tr>
          <td><%= member.first_name %> </td>
          <td><%= member.last_name %> </td>
          <td><%= member.city %> </td>
          <td><%= member.state %> </td>
          <td><%= member.country %> </td>
          <td><%= member.team.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>